code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Insolata;
    padding: 24px 15px;
    text-align: center;
}
header,
section,
aside,
footer {
    margin: 0 1.5% 24px 1.5%;
}
footer {
    margin-bottom: 0;
    clear: both;
}
section {
    float: left;
    width: 60%;
    margin-right: 0;
}
section code {
    height: 400px;
}
aside {
    float: right;
    width: 34%;
    margin-left: 0;
}
aside code {
    height: 400px;
}